:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 130%;
  min-height: 100vh;
  background-color: #fbfaff;
}

.app {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.drag-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f0ff;
  border: 1px dashed #c1b2fa;
  border-radius: 0.8rem;
  width: 35rem;
  padding: 2.8rem 3.2rem;
  position: relative;
}

.drag-files input {
  all: unset;
  opacity: 0;
  inset: 0;
  position: absolute;
}

.drag-files i.ph {
  font-size: 4.5rem;
  color: #7c3aed;
}

.drag-files h1 {
  color: #7a5fec;
}

.drag-files p {
  font-size: 1.4rem;
  color: #746e82;
}

.drag-files.dragover {
  background-color: #ebe6ff;
}

/* UPLOAD BOXES */

.files {
  margin-top: 2rem;
  display: grid;
  gap: 1.2rem;
}
/* BOX */

.box {
  display: flex;
  position: relative;
  gap: 1.2rem;
  padding: 0.8rem;
  width: 35rem;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 1.6rem #eae2fd;
  border-radius: 0.8rem;

  --icon-bg: #eee;
  --icon-color: #aaa;
  --progress-color: #111111;
  --progress-text: #999;
}

/* ICON */

.box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--icon-bg);
  border-radius: 0.4rem;
  padding: 1rem 1.2rem;
}

.box .icon i {
  font-size: 2.4rem;
  color: var(--icon-color);
}

/* INFO */

.box .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.info .filename {
  font-size: 1.4rem;
  font-weight: 700;
  color: #575361;
}

.info .filesize {
  color: #857e95;
  font-weight: 500;
  font-size: 1rem;
}

/* PROGRESS BAR */

.bar {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 0.8rem;
}

progress {
  flex: 1;
  appearance: none;
  overflow: hidden;
  height: 0.6rem;
  border-radius: 99rem;
}

progress::-webkit-progress-bar {
  background-color: #e3e3ed;
}

progress::-webkit-progress-value {
  background-color: var(--progress-color);
}

.bar span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--progress-text);
}

/* ACTION */

.action {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  color: #7a5fec;
  cursor: pointer;
}

.action i.ph {
  font-size: 1.4rem;
  font-weight: 700;
}